@use "sass:map";
@use "../../../node_modules/@angular/material/index" as mat;

@mixin color($theme) {
	$color-config: mat.m2-get-color-config($theme);
	$accent-palette: map.get($color-config, "accent");
	$accent: mat.m2-get-color-from-palette($accent-palette);
	$accentA200: mat.m2-get-color-from-palette($accent-palette, A200);
	$primary-palette: map.get($color-config, "primary");
	$primary: mat.m2-get-color-from-palette($primary-palette);

	//$primary-50: mat.m2-get-color-from-palette($primary-palette, 50);

	.primary {
		color: $primary;
	}

	.bg-primary {
		background-color: $primary !important;
	}

	.border-accent {
		border-color: $accent !important;
	}

	.border-primary {
		border-color: $primary !important;
	}

	.accent {
		color: $accent;
	}

	.bg-accent {
		background-color: $accent !important;
	}

	.bg-accentA200 {
		background-color: $accentA200 !important;
	}
}
