$highlight-color: none;
$placeholder-transition: 200ms ease-in-out;
$input-top: 15px;
$heightInput: 32;
$input-height: $heightInput * 1px;
$wrapper-margin: 0px 0;
$widthInput: 304.05;
$select-height: ($heightInput + 4) * 1px;
$input-border-color: #b4b4b4;
$height-auto-complete: 30 * 1px;
$color-valid: #FFFFFF;
