<lib-spinner [fxHide]="(load$ | async) == true" fxFlexFill [textSpec]="'Chargement en cours ...'"></lib-spinner>

<section [fxHide]="(load$ | async) == false">
	<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px">
		<div fxFlex style="font-size: 1.2em">
			<span>Nombre de timbres : </span>
			<span class="bold">{{ timbrePaysService.total$ |async }}</span>
		</div>
		<div fxLayout="row" fxLayoutAlign="end center" class="form-input"
			 style="width: 200px; min-height:55px; height: 55px">
			<input
				(input)="applyFilter($event)"
				placeholder="Filtrer les données"
				type="text"
			/>
		</div>
		<lib-icon
			class="exportTable primary click"
			[type]="FontAwesomeTypeEnum.TYPE_LIGHT" [icone]="FontAwesomeEnum.FILE_EXEL"
			[info]="'Exporter tableau'"
			(click)="exportTable()"
		>
		</lib-icon>
		<!--
		<lib-icon
			class="primary click"
			style="font-size: 1.7em"
			[type]="FontAwesomeTypeEnum.TYPE_LIGHT" [icone]="FontAwesomeEnum.FILE_PDF"
			[info]="'Exporter en pdf'"
			(click)="generatePDFByImage()"
		>
		</lib-icon>
		-->
	</div>

	<table id="pdf-content" mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
		<ng-container matColumnDef="drapeau">
			<th mat-header-cell *matHeaderCellDef class="drapeau">
				<lib-libelle-model class="hide-on-mobile" [object]="timbre" [key]="'drapeau'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index" class="alignCenter">
				<img *ngIf="element?.getDrapeau()"
					 [src]="element?.getDrapeau()"
					 class="imgPays click"
					 (click)="utilsService.zoom(element?.getDrapeauZoom())"/>
			</td>
		</ng-container>
		<ng-container matColumnDef="code">
			<th mat-header-cell *matHeaderCellDef matSort mat-sort-header class="hide-on-mobile">
				<lib-libelle-model  [object]="timbre" [key]="'code'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index" class="hide-on-mobile">
				{{ element?.getCode() }}
			</td>
		</ng-container>
		<ng-container matColumnDef="libelle">
			<th mat-header-cell *matHeaderCellDef matSort mat-sort-header>
				<lib-libelle-model [object]="timbre" [key]="'libelle'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index">
				{{ element?.getLibelle() }}
			</td>
		</ng-container>
		<ng-container matColumnDef="libelleLangue">
			<th mat-header-cell *matHeaderCellDef class="hide-on-mobile">
				<lib-libelle-model [object]="timbre" [key]="'libelleLangue'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index" class="hide-on-mobile">
				<span *ngIf="element?.getLibelleLangue()">
					{{ element?.getLibelleLangue() }}
				</span>
				<img *ngIf="element?.getImageLangue()"
					 [src]="element?.getImageLangue()"
					 class="imgLangue click"
					 (click)="utilsService.zoom(element?.getImageLangueZoom())"/>
			</td>
		</ng-container>
		<ng-container matColumnDef="classeur">
			<th mat-header-cell *matHeaderCellDef matSort mat-sort-header class="alignCenter">
				<lib-libelle-model [object]="timbre" [key]="'classeur'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index" class="alignCenter">
				{{ element?.getClasseur() }}
			</td>
		</ng-container>
		<ng-container matColumnDef="page">
			<th mat-header-cell *matHeaderCellDef matSort mat-sort-header class="alignCenter">
				<lib-libelle-model [object]="timbre" [key]="'page'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index" class="alignCenter">
				{{ element?.getPage() }}
			</td>
		</ng-container>
		<ng-container matColumnDef="total">
			<th mat-header-cell *matHeaderCellDef matSort mat-sort-header class="alignCenter">
				<lib-libelle-model [object]="timbre" [key]="'total'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index" class="alignCenter">
				{{ element?.getTotal() }}
			</td>
		</ng-container>
		<ng-container matColumnDef="image">
			<th mat-header-cell *matHeaderCellDef class="hide-on-mobile">
				<lib-libelle-model [object]="timbre" [key]="'map'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index" class="hide-on-mobile">
				<img *ngIf="element?.getMap()"
					 [src]="element?.getMap()"
					 class="imgMap click"
					 (click)="utilsService.zoom(element?.getMapZoom())"/>
			</td>
		</ng-container>
		<ng-container matColumnDef="ajouter">
			<th mat-header-cell *matHeaderCellDef class="alignCenter">
				<lib-icon
					style="font-size: 1.2em"
					[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
					[icone]="FontAwesomeEnum.CIRCLE_PLUS"
					[info]="'Ajouter timbre'"
				></lib-icon>
			</th>
			<td mat-cell *matCellDef="let element; let i = index" class="alignCenter">
				<lib-icon
					class="primary click"
					style="font-size: 1.2em"
					[type]="FontAwesomeTypeEnum.TYPE_LIGHT" [icone]="FontAwesomeEnum.CIRCLE_PLUS"
					[info]="'Ajouter timbre'"
					(click)="ajouterTimbre(element)"
				></lib-icon>
			</td>
		</ng-container>
		<ng-container matColumnDef="modifier">
			<th mat-header-cell *matHeaderCellDef class="alignCenter">
				<lib-icon
					style="font-size: 1.2em"
					[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
					[icone]="FontAwesomeEnum.PENCIL"
					[info]="'Modifier'"
				></lib-icon>
			</th>
			<td mat-cell *matCellDef="let element; let i = index" class="alignCenter">
				<lib-icon
					class="primary click"
					style="font-size: 1.2em"
					[type]="FontAwesomeTypeEnum.TYPE_LIGHT" [icone]="FontAwesomeEnum.PENCIL"
					[info]="'Modifier'"
					(click)="modifier(element)"
				></lib-icon>
			</td>
		</ng-container>
		<ng-container matColumnDef="supprimer">
			<th mat-header-cell *matHeaderCellDef class="alignCenter">
				<lib-icon
					style="font-size: 1.2em"
					[type]="FontAwesomeTypeEnum.TYPE_SOLID"
					[icone]="FontAwesomeEnum.TRASH"
					[info]="'Modifier'"
				></lib-icon>
			</th>
			<td mat-cell *matCellDef="let element; let i = index" class="alignCenter">
				<lib-icon
					class="primary click"
					style="font-size: 1.2em"
					[type]="FontAwesomeTypeEnum.TYPE_SOLID" [icone]="FontAwesomeEnum.TRASH"
					[info]="'Supprimer'"
					(click)="supprimer(element)"
				></lib-icon>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-primary color-white"></tr>
		<tr mat-row *matRowDef="let element; columns: displayedColumns" class="mat-row"></tr>
	</table>
	<mat-paginator [pageSize]="15" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
</section>
