<div fxLayout="row" fxLayoutAlign="space-between stretch">
	<div fxFlex="5"></div>
	<div fxFlex fxLayout="column" fxLayoutGap="20px">
		<div fxLayout="row" fxLayoutGap="20px">
			<button class="rounded large color-white" mat-raised-button color="primary" (click)="ajouterBloc()">
				Ajouter
			</button>
			<!--
			<button class="rounded large color-white" mat-raised-button color="accent"
					(click)="ajouterBouchon()">
				Bouchon
			</button>
			-->
		</div>
		<app-timbre-bloc-resultat></app-timbre-bloc-resultat>
	</div>
	<div fxFlex="5"></div>
