<lib-spinner [fxHide]="(load$ | async) == true" fxFlexFill [textSpec]="'Chargement en cours ...'"></lib-spinner>

<section [fxHide]="(load$ | async) == false">
	<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px" style="height: 50px">
		<app-timbre-bloc-total></app-timbre-bloc-total>

		<div *ngIf="modif" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px"
			 style="height: 50px">
			<app-timbre-bloc-recherche [modif]="modif"></app-timbre-bloc-recherche>
			<div fxLayout="row" fxLayoutAlign="end center" class="form-input"
				 style="width: 200px; min-height:55px; height: 55px">
				<input
					placeholder="Filtrer les données"
					type="text"
					(input)="applyFilter($event)"
				/>
			</div>
			<lib-icon
				class="exportTable primary click"
				[type]="FontAwesomeTypeEnum.TYPE_LIGHT" [icone]="FontAwesomeEnum.FILE_EXEL"
				[info]="'Exporter tableau'"
				(click)="exportTable()"
			>
			</lib-icon>
			<!--
			<lib-icon
				class="primary click"
				style="font-size: 1.7em"
				[type]="FontAwesomeTypeEnum.TYPE_LIGHT" [icone]="FontAwesomeEnum.FILE_PDF"
				[info]="'Exporter en pdf'"
				(click)="generatePDFByImage()"
			>
			</lib-icon>
			-->
		</div>
	</div>

	<table id="pdf-content" mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
		<ng-container matColumnDef="image">
			<th mat-header-cell *matHeaderCellDef class="image">
				<lib-libelle-model class="hide-on-mobile" [object]="timbreBlocModel"
								   [key]="'image'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index" class="alignCenter">
				<img *ngIf="element?.getImageTable()"
					 [src]="element?.getImageTable()"
					 class="image click"
					 (click)="utilsService.zoom(element?.getImageZoom())"/>
			</td>
		</ng-container>
		<ng-container matColumnDef="id">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				<lib-libelle-model [object]="timbreBlocModel" [key]="'id'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index">
				{{ element?.getId() }}
			</td>
		</ng-container>
		<ng-container matColumnDef="annee">
			<th mat-header-cell *matHeaderCellDef mat-sort-header>
				<lib-libelle-model [object]="timbreBlocModel" [key]="'annee'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index">
				{{ element?.getAnnee() }}
			</td>
		</ng-container>
		<ng-container matColumnDef="carnet">
			<th mat-header-cell *matHeaderCellDef>
				<lib-libelle-model
					[object]="timbreBlocModel"
					[key]="'carnet'"
					[align]="'center center'">
				</lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index" class="alignCenter">
				<lib-icon
					class="click"
					[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
					[icone]="element?.isCarnet()? FontAwesomeEnum.CHECK : FontAwesomeEnum.XMARK"
					(click)="timbreBlocService.isCarnet(element)"
				>
				</lib-icon>
			</td>
		</ng-container>
		<ng-container matColumnDef="nbTimbres">
			<th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-on-mobile">
				<lib-libelle-model [object]="timbreBlocModel" [key]="'nbTimbres'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index" class="hide-on-mobile">
				{{ element?.getNbTimbres() }}
			</td>
		</ng-container>
		<ng-container matColumnDef="monnaie">
			<th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-on-mobile">
				<lib-libelle-model [object]="timbreBlocModel" [key]="'monnaie'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index" class="hide-on-mobile">
				{{ element?.getMonnaie() == "E" ? "€" : "Francs" }}
			</td>
		</ng-container>
		<ng-container matColumnDef="yt">
			<th mat-header-cell *matHeaderCellDef mat-sort-header class="hide-on-mobile">
				<lib-libelle-model [object]="timbreBlocModel" [key]="'yt'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index" class="hide-on-mobile">
				{{ element?.getYt() }}
			</td>
		</ng-container>
		<ng-container matColumnDef="acquis">
			<th mat-header-cell *matHeaderCellDef>
				<lib-libelle-model [object]="timbreBlocModel?.getTimbreBlocAcquisModel()"
								   [key]="'acquis'" [align]="'center center'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index" class="alignCenter">
				<lib-icon
					class="click"
					[classIcone]="element?.getTimbreBlocAcquisModel()?.isAcquis() ? 'accent' : 'primary'"
					[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
					[icone]="element?.getTimbreBlocAcquisModel()?.isAcquis() ?FontAwesomeEnum.CIRCLE_MINUS : FontAwesomeEnum.CIRCLE_PLUS"
					[info]="element?.getTimbreBlocAcquisModel()?.isAcquis() ? 'pas acquis' : 'acquis'"
					(click)="timbreBlocService.acquisDoublon(element, false)"
				>
				</lib-icon>
			</td>
		</ng-container>
		<ng-container matColumnDef="doublon">
			<th mat-header-cell *matHeaderCellDef>
				<lib-libelle-model [object]="timbreBlocModel?.getTimbreBlocAcquisModel()"
								   [key]="'doublon'" [align]="'center center'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index" class="alignCenter">
				<lib-icon
					class="click"
					[classIcone]="element?.getTimbreBlocAcquisModel()?.isDoublon() ? 'accent' : 'primary'"
					[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
					[icone]="element?.getTimbreBlocAcquisModel()?.isDoublon()? FontAwesomeEnum.CIRCLE_MINUS : FontAwesomeEnum.CIRCLE_PLUS"
					[info]="element?.getTimbreBlocAcquisModel()?.isDoublon() ? 'pas en double' : 'en double'"
					(click)="timbreBlocService.acquisDoublon(element, true)"
				>
				</lib-icon>
			</td>
		</ng-container>
		<ng-container matColumnDef="modifier">
			<th mat-header-cell *matHeaderCellDef class="alignCenter">
				<lib-icon [type]="FontAwesomeTypeEnum.TYPE_LIGHT"
						  [icone]="FontAwesomeEnum.PENCIL"
						  [info]="'Modifier'"
				></lib-icon>
			</th>
			<td mat-cell *matCellDef="let element; let i = index" class="alignCenter">
				<lib-icon
					class="primary click"
					[type]="FontAwesomeTypeEnum.TYPE_LIGHT" [icone]="FontAwesomeEnum.PENCIL"
					[info]="'Modifier'"
					(click)="timbreBlocService.modifierDialog(element)"
				>
				</lib-icon>
			</td>
		</ng-container>
		<ng-container matColumnDef="supprimer">
			<th mat-header-cell *matHeaderCellDef class="alignCenter">
				<lib-icon
					[type]="FontAwesomeTypeEnum.TYPE_SOLID"
					[icone]="FontAwesomeEnum.TRASH"
					[info]="'Modifier'"
				></lib-icon>
			</th>
			<td mat-cell *matCellDef="let element; let i = index" class="alignCenter">
				<lib-icon
					class="primary click"
					[type]="FontAwesomeTypeEnum.TYPE_SOLID" [icone]="FontAwesomeEnum.TRASH"
					[info]="'Supprimer'"
					(click)="timbreBlocService.supprimerDialog(element)"
				></lib-icon>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns" class="bg-primary color-white"></tr>
		<tr mat-row *matRowDef="let element; columns: displayedColumns" class="mat-row"></tr>
	</table>
	<mat-paginator [pageSize]="15" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
</section>
