<div class="dialog-modal" fxFlexFill fxLayout="column" fxLayoutAlign="space-between stretch">
	<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center" class="titre-modal bg-primary color-white">
		<span>{{timbreModel?.getId()? 'MODIFICATION' : 'AJOUT'}} </span>
		<span>{{ timbreModel?.getCode() }}</span>
	</div>

	<ng-template [ngIf]="(load$ | async) == false" [ngIfElse]="load">
		<lib-spinner fxFlexFill [textSpec]="'Chargement en cours ...'"></lib-spinner>
	</ng-template>
	<ng-template #load>
		<form
			#formModif="ngForm"
			ngForm="formModif"
			(ngSubmit)="valider(formModif)"
			class="formulaire-box-elevation"
			[ngClass]="formModif?.submitted  ?'red-color' : 'blue-color'"
			fxLayoutGap="20px"
			fxFlex="100"
			fxLayout="column"
			fxLayoutAlign="space-between stretch"
		>
			<div fxLayout="column" class="bloc-modal" fxLayoutGap="20px">
				<mat-error *ngIf="messageError$ | async" [innerHTML]="messageError$ | async"></mat-error>

				<div *ngIf="timbreModel?.getId()" fxLayout="column" class="form-input">
					<label>
						<lib-libelle-model [object]="timbreModel" [key]="'id'"></lib-libelle-model>
					</label>
					<input
						name="code"
						[(ngModel)]="timbreModel.id"
						type="text"
						trim
						upperCase
						noEspace
						required
						zControl
						[disabled]="!!timbreModel?.getId()"
					/>
				</div>

				<div fxLayout="column" class="form-input">
					<label>
						<lib-libelle-model [object]="timbreModel" [key]="'annee'"></lib-libelle-model>
					</label>
					<input
						name="page"
						[(ngModel)]="timbreModel.annee"
						type="number"
						style="width: 60px !important;"
						class="annee"
						minlength="4"
						maxlength="4"
						min="1900"
						zMin="1900"
						[max]="maxAnnee"
						[zMax]="maxAnnee"
						required
						zControl
					/>
				</div>

				<!--
				<div fxLayout="column" class="form-input">
					<label>
						<lib-libelle-model [object]="timbreModel" [key]="'code'"></lib-libelle-model>
					</label>
					<input
						name="code"
						[(ngModel)]="timbreModel.code"
						type="text"
						trim
						upperCase
						noEspace
						required
						zControl
						[disabled]="!!timbreModel?.getId()"
					/>
				</div>
				-->

				<div fxLayout="column" class="form-input">
					<label>
						<lib-libelle-model [object]="timbreModel" [key]="'monnaie'"></lib-libelle-model>
					</label>
					<input
						name="monnaie"
						[(ngModel)]="timbreModel.monnaie"
						style="width: 25px !important;"
						type="text"
						trim
						minlength="1"
						maxlength="2"
						required
						zControl
					/>
				</div>

				<div fxLayout="column" class="form-input">
					<label>
						<lib-libelle-model [object]="timbreModel" [key]="'type'"></lib-libelle-model>
					</label>
					<input
						name="type"
						[(ngModel)]="timbreModel.type"
						type="text"
						trim
						zControl
					/>
				</div>

				<div fxLayout="column" class="form-input">
					<label>
						<lib-libelle-model [object]="timbreModel" [key]="'yt'"></lib-libelle-model>
					</label>
					<input
						name="yt"
						[(ngModel)]="timbreModel.yt"
						type="text"
						trim
						zControl
					/>
				</div>

				<lib-upload [object]="timbreModel" [key]="'image'" [maxWidth]="timbreService.widthTimbre" [maxHeight]="timbreService.heightTimbre" (outPutObject)="timbreModel = $event"></lib-upload>

				<!--
				<lib-upload [object]="timbreModel" [key]="'image'" [keyZoom]="'imageZoom'" [dossier]="'timbre'" [code]="timbreModel?.getCode()" [maxWidth]="timbreService.widthTimbreZoom" [maxHeight]="timbreService.heightTimbreZoom" (outPutObject)="timbreModel = $event"></lib-upload>

				<lib-upload-new [object]="timbreModel"  [fileUploadModel]="fileUploadModel" (outPutObject)="timbreModel = $event"></lib-upload-new>
				-->
			</div>

			<div class="bloc-bouton-modal" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end end">
				<button
					type="button" class="rounded large color-white" mat-raised-button color="primary" (click)="close()">
					Annuler
				</button>
				<button
					type="submit" class="rounded large color-white" mat-raised-button color="accent">
					Enregistrer
				</button>
			</div>
		</form>
	</ng-template>
</div>
