<div class="dialog">
    <h2 *ngIf="data?.titre" mat-dialog-title class="{{ data?.classTitre }}">
        {{ data?.titre }}
    </h2>
    <div mat-dialog-content>
        <p *ngIf="data?.message" [innerHTML]="data?.message"></p>
        <ng-container *ngIf="content">
            <ng-container *ngTemplateOutlet="content"> </ng-container>
        </ng-container>
    </div>

    <div class="dialogBouton" mat-dialog-actions>
		<button
			*ngIf="!data?.desactiveBtnGauche"
			type="button" class="rounded large color-white" mat-raised-button color="primary" (click)="annuler()">
			{{ data?.btnGauche }}
		</button>
		<button
			*ngIf="!data?.desactiveBtnDroite"
			type="submit" class="rounded large color-white" mat-raised-button color="accent"
			(click)="valider()">
			{{ data?.btnDroite }}
		</button>
    </div>
</div>
