<div class="timbrePaysLayout">
	<div class="timbreBody">
		<div *ngIf="(authService.user$ | async)?.getDroit() == DroitEnum.TOTAL">
			<button class="rounded large color-white" mat-raised-button color="primary" (click)="ajouter()">
				Ajouter
			</button>
			<button class="rounded large color-white hide-on-mobile" mat-raised-button color="accent"
					(click)="ajouterBouchon()">
				Bouchon
			</button>
			<lib-icon
				[icone]="FontAwesomeEnum.UPLOAD"
				[type]="FontAwesomeTypeEnum.TYPE_SOLID"
				class="accent click hide-on-mobile"
				style="font-size: 2em"
				[info]="'Importer les timbres'"
				(click)="importer()">
			</lib-icon>
		</div>
		<app-timbre-pays-resultat [timbres$]="timbrePaysService.getTimbres()"></app-timbre-pays-resultat>
	</div>
</div>
