<div class="timbrePaysLayout">
	<div class="timbreBody">
		<div fxLayout="row" fxLayoutGap="20px">
			<button class="rounded large color-white" mat-raised-button color="primary" (click)="ajouter()">
				Ajouter
			</button>
			<button class="rounded large color-white" mat-raised-button color="accent"
					(click)="ajouterBouchon()">
				Bouchon
			</button>
			<button class="rounded large color-white" mat-raised-button color="accent"
					(click)="importer()">
				Importer
			</button>
		</div>
		<app-timbre-pays-resultat [timbres$]="timbrePaysService.getTimbres()"></app-timbre-pays-resultat>
	</div>
</div>
