$gray-theme: (
	50 : #ecedee,
	100 : #ced3d5,
	200 : #aeb6b9,
	300 : #8e989d,
	400 : #758288,
	500 : #5d6c73,
	600 : #55646b,
	700 : #4b5960,
	800 : #414f56,
	900 : #303d43,
	A100 : #94dbff,
	A200 : #61caff,
	A400 : #2eb9ff,
	A700 : #14b1ff,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #ffffff,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #000000,
	)
);
