/* For use in src/lib/core/theming/_palette.scss */
$green-theme: (
	50 : #f2f6e1,
	100 : #dee9b5,
	200 : #c8da84,
	300 : #b1cb52,
	400 : #a1bf2d,
	500 : #90b408,
	600 : #88ad07,
	700 : #7da406,
	800 : #739c04,
	900 : #618c02,
	A100 : #e5ffb8,
	A200 : #d3ff85,
	A400 : #c0ff52,
	A700 : #b7ff39,
	contrast: (
		50 : #ffffff,
		100 : #ffffff,
		200 : #ffffff,
		300 : #ffffff,
		400 : #ffffff,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #ffffff,
		A200 : #ffffff,
		A400 : #ffffff,
		A700 : #ffffff,
	)
);

