@use "sass:map";
@use "../../../../node_modules/@angular/material/index" as mat;

@mixin color($theme) {
	$color-config: mat.m2-get-color-config($theme);

	$accent-palette: map.get($color-config, "accent");
	$accent: mat.m2-get-color-from-palette($accent-palette);

	mat-spinner {
		color: $accent;
	}
}

.spinner {
	height: 300px;
	width: 100%;
}

@media screen and (min-height: 400px) and (max-height: 799px) {
	.spinner {
		height: 200px;
	}
}

@media screen and (min-height: 800px) {
	.spinner {
		height: 650px;
	}
}
