.dialog-modal {
	.titre-modal {
		padding: 20px 15px 20px 15px !important;
	}

	.bloc-modal {
		padding: 10px 15px 10px 15px !important;
	}

	.bloc-bouton-modal {
		padding: 0px 15px 15px 15px !important;
	}
}
