@use "sass:map";
@use "@angular/material" as mat;
@use "../variable" as variable;


@mixin color($theme) {
	$color-config: mat.m2-get-color-config($theme);
	$primary-palette: map.get($color-config, "primary");
	$primary: mat.m2-get-color-from-palette($primary-palette);
}

.form-input {
	margin: variable.$wrapper-margin;
	position: relative;
	width: 100%;
	display: block;
	padding: 0;
	margin-bottom: 3px !important;

	label {
		width: 100%;
		margin-bottom: 5px;
	}

	input {
		padding-left: 5px;
		top: variable.$input-top;
		z-index: 1;
		border-radius: 5px;
		border: 1px solid variable.$input-border-color;
		transition: border-color variable.$placeholder-transition;
		outline: none;
		margin: 0;
		height: variable.$input-height;
		background-color: variable.$color-valid !important;

		&.rounded {
			border-radius: 20px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	z-datepicker {
		width: 100%;

		input {
			max-width: 90px !important;
			height: variable.$input-height !important;

			&:disabled {
				+ .mat-datepicker-toggle {
					color: #aaaaaa !important;
					opacity: 0.8;
				}
			}
		}

		input.mat-input-element {
			margin-top: 0;
		}
	}

	input[type="number"] {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		width: 100% !important;
		padding-left: 5px;
		z-index: 1;
		border-radius: 3px !important;
		box-sizing: border-box;
		border: 1px solid variable.$input-border-color;
		outline: none;
		margin: 0;
		height: variable.$input-height !important;
		line-height: variable.$input-height !important;

		&:disabled {
			border: 1px solid variable.$input-border-color;
			opacity: 0.7;
		}
	}

	.eyeMdp {
		width: 20px !important;
		margin: 0px 0px 0px -30px !important;
		z-index: 1;
	}

	input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0px 1000px white inset;
	}
}

input.phone {
	min-width: auto !important;
	max-width: 90px !important;
}

input.crm {
	min-width: auto !important;
	max-width: 60px !important;
}

input.siren,
input.cpam {
	min-width: auto !important;
	max-width: 100px !important;
}

input.siret {
	min-width: auto !important;
	max-width: 140px !important;
}

input.numberOnly {
	min-width: auto !important;
	max-width: 65px !important;
	text-align: right;
}

input.codePostal {
	min-width: auto !important;
	//max-width: 70px !important;
	width: 85px !important;
}

input.valeur {
	min-width: auto !important;
	max-width: 75px !important;
}

input.valeurMax {
	min-width: auto !important;
	max-width: 150px !important;
}

input.montant {
	min-width: auto !important;
	max-width: 100px !important;
}

input.quotePart {
	min-width: auto !important;
	max-width: 50px !important;
}

input.numSecu {
	min-width: auto !important;
	max-width: 135px !important;
}

input.cleSecu {
	min-width: auto !important;
	max-width: 40px !important;
}
