@use "sass:map";
@use "../../../../node_modules/@angular/material/index" as mat;
@use "../variable" as variable;


@mixin color($theme) {
	$color-config: mat.m2-get-color-config($theme);
	$primary-palette: map.get($color-config, "primary");
	$primary: mat.m2-get-color-from-palette($primary-palette);
}

.form-input {
	margin: variable.$wrapper-margin;
	position: relative;
	width: 100%;
	display: block;
	padding: 0;
	margin-bottom: 3px !important;

	label {
		width: 100%;
		margin-bottom: 5px;
	}

	input {
		padding-left: 5px;
		top: variable.$input-top;
		z-index: 1;
		border-radius: 5px;
		border: 1px solid variable.$input-border-color;
		transition: border-color variable.$placeholder-transition;
		outline: none;
		margin: 0;
		height: variable.$input-height;
		background-color: variable.$color-valid !important;

		&.rounded {
			border-radius: 20px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	z-datepicker {
		width: 100%;

		input {
			max-width: 90px !important;
			height: variable.$input-height !important;

			&:disabled {
				+ .mat-datepicker-toggle {
					color: #aaaaaa !important;
					opacity: 0.8;
				}
			}
		}

		input.mat-input-element {
			margin-top: 0;
		}
	}

	input[type="number"] {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		width: 100% !important;
		padding-left: 5px;
		z-index: 1;
		border-radius: 3px !important;
		box-sizing: border-box;
		border: 1px solid variable.$input-border-color;
		outline: none;
		margin: 0;
		height: variable.$input-height !important;
		line-height: variable.$input-height !important;

		&:disabled {
			border: 1px solid variable.$input-border-color;
			opacity: 0.7;
		}
	}

	input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0px 1000px white inset;
	}
}

input.numberOnly {
	min-width: auto !important;
	max-width: 65px !important;
	text-align: right;
}
