@use "../variable" as variable;

.select mat-select,
select {
	margin: variable.$wrapper-margin;
	top: variable.$input-top;
	z-index: 1;
	border-radius: 5px;
	width: 100%;
	transition: border-color variable.$placeholder-transition;
	outline: none;
	height: variable.$select-height;
	line-height: variable.$select-height;
	border: 1px solid variable.$input-border-color;
	background-color: variable.$color-valid !important;
}

.select mat-select {
	.mat-mdc-select-placeholder {
		margin-left: 5px;
	}

	.mat-mdc-select-arrow-wrapper {
		margin-right: 5px;
	}

	.mat-mdc-select-panel {
		//@extend .scrollBarAccent;
	}
}

.selectMin {
	min-height: 30px !important;

	.mat-pseudo-checkbox {
		width: 15px !important;
		height: 15px !important;
	}
}

