@use "sass:map";
@use "../../../../node_modules/@angular/material/index" as mat;

@mixin color($theme) {
	$color-config: mat.m2-get-color-config($theme);
	$primary-palette: map.get($color-config, "primary");
	$primary: mat.m2-get-color-from-palette($primary-palette);

	.mdc-tooltip {
		color: $primary !important;
		background-color: white;

		.mat-mdc-tooltip-surface {
			color: $primary !important;
			background-color: white;
		}
	}
}

.mdc-tooltip {
	white-space: break-spaces;
	width: auto;
	height: auto;
	left: 5px;
	z-index: 1;

	padding: 3px 10px !important;
	border-radius: 6px !important;
	border: 0.5px solid darkgray !important;

	ul {
		margin-block-start: 0px !important;
		margin-block-end: 0px !important;
		padding-inline-start: 20px !important;
		margin-bottom: 7px !important;
	}
}


