<div fxLayout="row"
	 class="header bg-primary"
	 fxLayoutAlign="space-between center">
	<div class="headerLogin">
		<span class="color-white">
			{{ (authService.user$ | async)?.getNom() }} {{ (authService.user$ | async)?.getPrenom() }}
		</span>
	</div>
	<div class="headerTitre">
		<span class="color-white bold">{{ headerService.titre$ | async }}</span>
	</div>

	<div class="headerIcone">
		<ng-container *ngIf="(authService.user$ | async)?.getDroit() == DroitEnum.TOTAL">
			<ng-container *ngIf="(headerService.choixRoutes$ |async)?.length > 0">
				<ng-container *ngFor="let choixRoute of (headerService.choixRoutes$ |async)">
					<lib-icon [icone]="choixRoute?.getIcone()"
							  [type]="choixRoute?.getType()"
							  [color]="'white'"
							  [info]="choixRoute?.getInfo()"
							  (click)="headerService.setRoute(choixRoute.getRoute())">
					</lib-icon>
				</ng-container>
			</ng-container>

			<lib-icon [icone]="FontAwesomeEnum.PALETTE"
					  class="hide-on-mobile"
					  [color]="'white'"
					  [info]="'Changer couleur'"
					  (click)="toggleDarkTheme()">
			</lib-icon>
		</ng-container>

		<lib-icon [icone]="FontAwesomeEnum.POWER_OFF"
				  [color]="'white'"
				  [info]="'Déconnexion'"
				  (click)="logout()">
		</lib-icon>
	</div>
</div>
