<div *ngIf="modif" class="menuRecherche">
	<div class="form-input select" style="width: 120px">
		<mat-select name="type"
					class="scrollBarAccent"
					[(ngModel)]="timbreUtilsService.timbreCritereModel.type"
					[placeholder]="'Type'"
					multiple
					(ngModelChange)="filtreByCritere()">
			<mat-option *ngFor="let typeTimbre of TypeTimbreEnum | enumToArray"
						class="selectMin"
						[value]="typeTimbre.value">
				{{ typeTimbre.value | capitalize }}
			</mat-option>
		</mat-select>
	</div>


	<div class="form-input select" style="width: 100px">
		<mat-select name="acquis"
					[(ngModel)]="timbreUtilsService.timbreCritereModel.acquis"
					[placeholder]="'Acquis'"
					(ngModelChange)="filtreByCritere()">
			<mat-option class="selectMin" [value]="'OUI'"> Oui</mat-option>
			<mat-option class="selectMin" [value]="'NON'"> Non</mat-option>
			<mat-option class="selectMin" [value]="'TOUS'"> Tous</mat-option>
		</mat-select>
	</div>

	<div class="form-input select" style="width: 100px">
		<mat-select name="doublon"
					class="scrollBarAccent"
					[(ngModel)]="timbreUtilsService.timbreCritereModel.doublon"
					[placeholder]="'Doublon'"
					(ngModelChange)="filtreByCritere()">
			<mat-option class="selectMin" [value]="'OUI'"> Oui</mat-option>
			<mat-option class="selectMin" [value]="'NON'"> Non</mat-option>
			<mat-option class="selectMin" [value]="'TOUS'"> Tous</mat-option>
		</mat-select>
	</div>

	<div class="form-input select" style="width: 150px">
		<mat-select name="anneeSelect"
					multiple
					[(ngModel)]="timbreUtilsService.timbreCritereModel.annees"
					[placeholder]="'Années'"
					(ngModelChange)="filtreByCritere()">
			<mat-option class="selectMin" *ngFor="let annee of (annees$ | async)"
						[value]="annee">
				{{ annee }}
			</mat-option>
		</mat-select>
	</div>
</div>
