<div class="form-input" fxLayout="column"  [fxLayoutAlign]="alignLabel? 'space-evenly center': 'start stretch'">
	<label>
		<lib-libelle-model [object]="object" [key]="key" [align]="alignLabel"></lib-libelle-model>
	</label>
	<div [fxLayout]="alignLabel && !(selectedFile || object[key])? 'column': 'row'" fxLayoutGap="10px" fxLayoutAlign="start center" [fxLayoutAlign]="(selectedFile || object[key])? 'space-evenly start': 'start center'">
		<img *ngIf="object[key]"
			 [src]="object[key]"
			 class="imgSelect click"
			 alt="Image actuelle"
			 (click)="utilsService.zoom(object[keyZoom]? object[keyZoom] : object[key])"/>

		<canvas #canvas *ngIf="selectedFile" ></canvas>

		<input
			id="{{id}}"
			type="file"
			accept="image/*"
			(change)="onFileSelected($event)"
			hidden
		/>
		<lib-icon
			*ngIf="selectedFile || object[key]"
			class="primary click"
			style="font-size: 1.5em"
			[type]="FontAwesomeTypeEnum.TYPE_LIGHT" [icone]="FontAwesomeEnum.FILE_PEN"
			[info]="'Modifier'"
			(click)="triggerFileInput()"
		>
		</lib-icon>
		<button
			*ngIf="!(selectedFile || object[key])"
			type="button" class="rounded large color-white" mat-raised-button color="accent" (click)="triggerFileInput()">
			Choisir une image
		</button>
	</div>
</div>
