<div *ngIf="modif" class="menuRecherche">
	<!--
	<div  style="width: 75px">
		<mat-checkbox color="primary" [(ngModel)]="timbreUtilsService.timbreCritereBlocModel.acquis" (ngModelChange)="filtreByCritere()">
			<lib-libelle-model [object]="timbreUtilsService.timbreCritereBlocModel" [key]="'acquis'"></lib-libelle-model>
		</mat-checkbox>
	</div>
	-->
	<div class="form-input select" style="width: 100px">
		<mat-select name="type"
					class="scrollBarAccent"
					[(ngModel)]="timbreUtilsService.timbreCritereBlocModel.type"
					[placeholder]="'Type'"
					multiple
					(ngModelChange)="filtreByCritereEvent($event)">
			<mat-option class="selectMin" [value]="TypeTimbreEnum.BLOC"> {{ TypeTimbreEnum.BLOC }}</mat-option>
			<mat-option class="selectMin" [value]="TypeTimbreEnum.CARNET"> {{ TypeTimbreEnum.CARNET }}</mat-option>
		</mat-select>
	</div>

	<div class="form-input select" style="width: 100px">
		<mat-select name="acquis"
					[(ngModel)]="timbreUtilsService.timbreCritereBlocModel.acquis"
					[placeholder]="'Acquis'"
					(ngModelChange)="filtreByCritere()">
			<mat-option class="selectMin" [value]="'OUI'"> Oui</mat-option>
			<mat-option class="selectMin" [value]="'NON'"> Non</mat-option>
			<mat-option class="selectMin" [value]="'TOUS'"> Tous</mat-option>
		</mat-select>
	</div>

	<div class="form-input select" style="width: 100px">
		<mat-select name="doublon"
					class="scrollBarAccent"
					[(ngModel)]="timbreUtilsService.timbreCritereBlocModel.doublon"
					[placeholder]="'Doublon'"
					(ngModelChange)="filtreByCritere()">
			<mat-option class="selectMin" [value]="'OUI'"> Oui</mat-option>
			<mat-option class="selectMin" [value]="'NON'"> Non</mat-option>
			<mat-option class="selectMin" [value]="'TOUS'"> Tous</mat-option>
		</mat-select>
	</div>

	<div class="form-input select" style="width: 150px">
		<mat-select name="anneeSelect"
					multiple
					[(ngModel)]="timbreUtilsService.timbreCritereBlocModel.annees"
					[placeholder]="'Années'"
					(ngModelChange)="filtreByCritere()">
			<mat-option class="selectMin" *ngFor="let annee of (annees$ | async)"
						[value]="annee">
				{{ annee }}
			</mat-option>
		</mat-select>
	</div>
</div>
