<div *ngIf="modif" class="menuRecherche">
	<!--
	<div  style="width: 75px">
		<mat-checkbox color="primary" [(ngModel)]="preferenceService.timbreCritereBlocModel.acquis" (ngModelChange)="filtreByCritere()">
			<lib-libelle-model [object]="preferenceService.timbreCritereBlocModel" [key]="'acquis'"></lib-libelle-model>
		</mat-checkbox>
	</div>
	-->
	<div class="form-input select" style="width: 120px">
		<mat-select name="type"
					class="scrollBarAccent"
					[(ngModel)]="preferenceService.timbreCritereBlocModel.type"
					[placeholder]="'Type'"
					multiple
					(ngModelChange)="filtreByCritere()">
			<ng-container *ngFor="let typeTimbre of TypeTimbreEnum | enumToArray">
				<mat-option *ngIf="typeTimbre.value != TypeTimbreEnum.TIMBRE"
							class="selectMin"
							[value]="typeTimbre.value">
					{{ typeTimbre.value | capitalize }}
				</mat-option>
			</ng-container>
		</mat-select>
	</div>

	<div class="form-input select" style="width: 100px">
		<mat-select name="acquis"
					[(ngModel)]="preferenceService.timbreCritereBlocModel.acquis"
					[placeholder]="'Acquis'"
					(ngModelChange)="filtreByCritere()">
			<mat-option class="selectMin" [value]="'OUI'"> Oui</mat-option>
			<mat-option class="selectMin" [value]="'NON'"> Non</mat-option>
			<mat-option class="selectMin" [value]="'TOUS'"> Tous</mat-option>
		</mat-select>
	</div>

	<div class="form-input select" style="width: 100px">
		<mat-select name="doublon"
					class="scrollBarAccent"
					[(ngModel)]="preferenceService.timbreCritereBlocModel.doublon"
					[placeholder]="'Doublon'"
					(ngModelChange)="filtreByCritere()">
			<mat-option class="selectMin" [value]="'OUI'"> Oui</mat-option>
			<mat-option class="selectMin" [value]="'NON'"> Non</mat-option>
			<mat-option class="selectMin" [value]="'TOUS'"> Tous</mat-option>
		</mat-select>
	</div>

	<div class="form-input select" style="width: 100px">
		<mat-select name="anneeSelect"
					multiple
					[(ngModel)]="preferenceService.timbreCritereBlocModel.annees"
					[placeholder]="'Années'"
					(ngModelChange)="filtreByCritere()">
			<mat-option class="selectMin" *ngFor="let annee of (annees$ | async)"
						[value]="annee">
				{{ annee }}
			</mat-option>
		</mat-select>
	</div>
</div>
