<div class="responsiveDirection responsiveMenu">
	<app-timbre-bloc-total></app-timbre-bloc-total>

	<app-timbre-bloc-recherche [modif]="modif"></app-timbre-bloc-recherche>
</div>

<lib-spinner [fxHide]="(timbreBlocService.load$ | async) == true" class="spinner" [textSpec]="'Chargement en cours ...'"></lib-spinner>

<section [fxHide]="(timbreBlocService.load$ | async) == false">
	<div class="listeTimbre primary">
		<div *ngFor="let timbreBloc of timbreBlocService.timbresBlocModel$ | async" class="detailTimbre"
			 [ngClass]="timbreBloc?.getTimbreBlocAcquisModel()?.isAcquis() ? 'border-accent bg-accentA200' : 'border-primary'">
			<div class="headerTimbre">
				<div class="actionTimbre">
					<lib-icon
						class="click"
						[classIcone]="timbreBloc?.getTimbreBlocAcquisModel()?.isAcquis() ? 'accent' : 'primary'"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
						[icone]="timbreBloc?.getTimbreBlocAcquisModel()?.isAcquis() ?FontAwesomeEnum.CIRCLE_MINUS : FontAwesomeEnum.CIRCLE_PLUS"
						[info]="timbreBloc?.getTimbreBlocAcquisModel()?.isAcquis() ? 'pas acquis' : 'acquis'"
						(click)="timbreBlocService.acquisDoublon(timbreBloc, false)"
					>
					</lib-icon>
					<lib-icon
						class="click"
						[classIcone]="timbreBloc?.getTimbreBlocAcquisModel()?.isDoublon() ? 'accent' : 'primary'"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
						[icone]="timbreBloc?.getTimbreBlocAcquisModel()?.isDoublon()? FontAwesomeEnum.CIRCLE_MINUS : FontAwesomeEnum.CIRCLE_PLUS"
						[info]="timbreBloc?.getTimbreBlocAcquisModel()?.isDoublon() ? 'pas en double' : 'en double'"
						(click)="timbreBlocService.acquisDoublon(timbreBloc, true)"
					>
					</lib-icon>
				</div>

				<div class="actionTimbre2">
					<lib-icon
						class="primary click"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT" [icone]="FontAwesomeEnum.PENCIL"
						[info]="'Modifier'"
						(click)="timbreBlocService.modifierDialog(timbreBloc)"
					>
					</lib-icon>
					<lib-icon
						class="primary click"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT" [icone]="FontAwesomeEnum.TRASH"
						[info]="'Supprimer'"
						(click)="timbreBlocService.supprimerDialog(timbreBloc)"
					></lib-icon>
				</div>
			</div>

			<div class="imgTimbre">
				<img *ngIf="timbreBloc?.getImage()"
					 [src]="timbreBloc?.getImage()"
					 class="image click"
					 (click)="utilsService.zoom(timbreBloc?.getImageZoom())"/>
			</div>

			<div class="footerTimbre">
				{{ timbreBloc?.getAnnee() }}

				<div class="infoTimbre">
					{{ timbreBloc?.getNbTimbres() }}

					<lib-icon
						class="click"
						[classIcone]="timbreBloc?.isCarnet() ? 'accent' : 'primary'"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
						[icone]="timbreBloc?.isCarnet()? FontAwesomeEnum.CIRCLE_C: FontAwesomeEnum.CIRCLE_B"
						(click)="timbreBlocService.isCarnet(timbreBloc)"
					>
					</lib-icon>

					<lib-icon
						*ngIf="timbreBloc?.getYt()"
						class="click"
						[classIcone]="'primary'"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
						[icone]="FontAwesomeEnum.CIRCLE_INFO"
						[info]="timbreBloc?.getYt()"
					></lib-icon>
				</div>
			</div>
		</div>
	</div>
</section>

