<div class="timbreTotal">
	<ng-container *ngFor="let total of (timbreBlocService.total$ | async); let isFirst = first; let isOdd = odd">
		<div class="nbTimbre">
			<span>{{isFirst? 'Nombre de ': ' / '}}{{ total?.getType() | capitalize }} : </span>
			<span class="bold">{{ total?.getTotal() ? total?.getTotal() : 0 }}</span>
		</div>
	</ng-container>

	<lib-icon [icone]="FontAwesomeEnum.CHART_LINE_UP"
			  [type]="FontAwesomeTypeEnum.TYPE_SOLID"
			  class="accent click"
			  [info]="'Détail par année'"
			  (click)="resume()">
	</lib-icon>
</div>
