.spinner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	flex: 100%;
	height: 100%;
}

.listeTimbre {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	width: 100%;

	lib-icon {
		font-size: 1.2em;
	}

	.detailTimbre {
		margin: 10px;
		width: 115px;
		height: 150px;
		border-radius: 10px;
		border: 1px solid;
		padding: 5px 10px 5px 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;

		.headerTimbre {
			height: 25px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: end;
			width: 100%;
			padding-bottom: 5px;

			.actionTimbre {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: start;
				gap: 5px;
			}

			.actionTimbre2 {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: end;
				gap: 5px;
			}
		}

		.imgTimbre {
			width: 100%;
			display: flex;
			flex: auto;
			justify-content: center;
			align-items: center;

			img {
				max-width: 100px;
				max-height: 100px;
			}
		}

		.footerTimbre {
			height: 25px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: end;
			width: 100%;

			.infoTimbre {
				display: flex;
				flex-direction: row;
				justify-content: end;
				align-items: end;
				gap: 5px;
			}
		}
	}
}


@media screen and (max-width: 800px) {
	.listeTimbre {
		justify-content: space-evenly;
	}
}
