<div class="responsiveDirection responsiveMenu">
	<app-timbre-total [total$]="total$"></app-timbre-total>

	<app-timbre-recherche [modif]="modif"></app-timbre-recherche>
</div>

<lib-spinner [fxHide]="(load$ | async) == true" class="spinner" [textSpec]="'Chargement en cours ...'"></lib-spinner>

<section [fxHide]="(load$ | async) == false">
	<div class="listeTimbre primary">
		<div *ngFor="let timbre of timbres$ | async"
			 class="detailTimbre"
			 [ngClass]="timbre?.getTimbreAcquisModel()?.isAcquis() ? 'border-accent bg-accentA200' : 'border-primary'"
		>
			<div class="headerTimbre">
				<div class="actionTimbre">
					<lib-icon
						class="click"
						[classIcone]="timbre?.getTimbreAcquisModel()?.isAcquis() ? 'accent' : 'primary'"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
						[icone]="timbre?.getTimbreAcquisModel()?.isAcquis() ?FontAwesomeEnum.CIRCLE_MINUS : FontAwesomeEnum.CIRCLE_PLUS"
						[info]="timbre?.getTimbreAcquisModel()?.isAcquis() ? 'pas acquis' : 'acquis'"
						(click)="timbreService.acquisDoublon(timbre, false)"
					>
					</lib-icon>
					<lib-icon
						class="click"
						[classIcone]="timbre?.getTimbreAcquisModel()?.isDoublon() ? 'accent' : 'primary'"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
						[icone]="timbre?.getTimbreAcquisModel()?.isDoublon()? FontAwesomeEnum.CIRCLE_MINUS : FontAwesomeEnum.CIRCLE_PLUS"
						[info]="timbre?.getTimbreAcquisModel()?.isDoublon() ? 'pas en double' : 'en double'"
						(click)="timbreService.acquisDoublon(timbre, true)"
					>
					</lib-icon>
				</div>

				<div class="actionTimbre2">
					<lib-icon
						class="primary click"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT" [icone]="FontAwesomeEnum.PENCIL"
						[info]="'Modifier'"
						(click)="timbreService.modifierDialog(timbre)"
					>
					</lib-icon>
					<lib-icon
						class="primary click"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT" [icone]="FontAwesomeEnum.TRASH"
						[info]="'Supprimer'"
						(click)="timbreService.supprimerDialog(timbre)"
					></lib-icon>
				</div>
			</div>

			<div class="imgTimbre">
				<img *ngIf="timbre?.getImage()"
					 [src]="timbre?.getImage()"
					 class="image click"
					 (click)="utilsService.zoom(timbre?.getImageZoom())"/>
			</div>

			<div class="footerTimbre">
				<ng-template [ngIf]="timbre?.getIdBloc()" [ngIfElse]="noBloc">
					{{ timbre?.getTimbreBlocModel()?.getAnnee() }}
				</ng-template>
				<ng-template #noBloc>
					{{ timbre?.getAnnee() }}
				</ng-template>

				<div class="infoTimbre">
					<lib-icon
						*ngIf="timbre?.getIdBloc()"
						class="click"
						[classIcone]="'primary'"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
						[icone]="FontAwesomeEnum.IMAGE_POLAROID"
						(click)="utilsService.zoom(timbre?.getTimbreBlocModel()?.getImageZoom() )"
						[classInfo]="'imageHoverBloc'"
						[info]="'<img src=\'' + timbre?.getTimbreBlocModel()?.getImageZoom() + '\'/>'"
					></lib-icon>

					<lib-icon
						*ngIf="timbre?.getYt()"
						class="click"
						[classIcone]="'primary'"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
						[icone]="FontAwesomeEnum.CIRCLE_INFO"
						[info]="timbre?.getYt()"
					></lib-icon>
				</div>
			</div>
		</div>
	</div>
</section>

