<lib-spinner [fxHide]="(load$ | async) == true" class="spinner" [textSpec]="'Chargement en cours ...'"></lib-spinner>

<section [fxHide]="(load$ | async) == false">
	<div class="responsiveDirection responsiveMenu">
		<app-timbre-total [total$]="total$"></app-timbre-total>

		<app-timbre-recherche [modif]="modif"></app-timbre-recherche>
	</div>

	<div class="listeTimbre primary">
		<div *ngFor="let timbre of timbres$ | async" class="detailTimbre border-primary">
			<div class="imgTimbre">
				<img *ngIf="timbre?.getImageTable()"
					 [src]="timbre?.getImageTable()"
					 class="image click"
					 (click)="utilsService.zoom(timbre?.getImageZoom())"/>
			</div>

			<div class="footerTimbre">
			</div>

			<div class="footerTimbre">
				<ng-template [ngIf]="timbre?.getIdBloc()" [ngIfElse]="noBloc">
					{{ timbre?.getTimbreBlocModel()?.getAnnee() }}
				</ng-template>
				<ng-template #noBloc>
					{{ timbre?.getAnnee() }}
				</ng-template>

				<div class="infoTimbre">
					<lib-icon
						*ngIf="timbre?.getIdBloc()"
						class="click"
						[classIcone]="'primary'"
						style="font-size: 1.2em"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
						[icone]="FontAwesomeEnum.IMAGE_POLAROID"
						(click)="utilsService.zoom(timbre?.getTimbreBlocModel()?.getImageZoom() )"
						[classInfo]="'imageHoverBloc'"
						[info]="'<img src=\'' + timbre?.getTimbreBlocModel()?.getImageZoom() + '\'/>'"
					></lib-icon>
					<lib-icon
						class="click"
						[classIcone]="'primary'"
						style="font-size: 1.2em"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
						[icone]="FontAwesomeEnum.CIRCLE_INFO"
						[info]="timbre?.getYt()"
					></lib-icon>
				</div>
			</div>
		</div>
	</div>
</section>

