<ng-template [ngIf]="(timbreResumeService.load$ | async) == false" [ngIfElse]="load">
	<lib-spinner fxFlexFill [textSpec]="'Chargement en cours ...'"></lib-spinner>
</ng-template>
<ng-template #load>
	<table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
		<ng-container matColumnDef="annee" sticky>
			<th mat-header-cell mat-sort-header *matHeaderCellDef>
				<lib-libelle-model [object]="timbreResumeModel" [key]="'annee'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index" class="primary50">
				{{ element?.getAnnee() }}
			</td>
			<td mat-footer-cell *matFooterCellDef></td>
		</ng-container>
		<ng-container matColumnDef="total" sticky>
			<th mat-header-cell mat-sort-header *matHeaderCellDef>
				<lib-libelle-model [object]="timbreResumeModel" [key]="'total'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index" class="primary50">
				{{ element?.getTotal() }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<b>{{ (timbreResumeService.totalTimbreResume$ | async)?.getTotal() }} </b></td>
		</ng-container>

		<ng-container matColumnDef="nombre">
			<th mat-header-cell *matHeaderCellDef>
				<lib-libelle-model [object]="timbreResumeModel" [key]="'nombre'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index">
				{{ element?.getNombre() }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<b>{{ (timbreResumeService.totalTimbreResume$ | async)?.getNombre() }} </b></td>
		</ng-container>
		<ng-container matColumnDef="acquis">
			<th mat-header-cell *matHeaderCellDef>
				<lib-icon
					class="click"
					style="font-size: 1.2em"
					[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
					[icone]="FontAwesomeEnum.CHECK"
					[info]="timbreResumeModel.getPropertyLibelle('acquis')"
				>
				</lib-icon>
			</th>
			<td mat-cell *matCellDef="let element; let i = index"
				[ngClass]="{'accent50': element?.getNombre() == element?.getAcquis()}"
				[matTooltip]="element?.getAcquis() > 0? ((element?.getAcquis() / element?.getNombre()) | percent) : ''">
				<ng-container *ngIf="element?.getAcquis() > 0">
					{{ element?.getAcquis() }}
				</ng-container>
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<ng-container *ngIf="(timbreResumeService.totalTimbreResume$ | async)?.getAcquis() > 0">
					<b>{{ (timbreResumeService.totalTimbreResume$ | async)?.getAcquis() }} ({{ ((timbreResumeService.totalTimbreResume$ | async)?.getAcquis() / (timbreResumeService.totalTimbreResume$ | async)?.getNombre()) | percent  }})</b>
				</ng-container>
			</td>
		</ng-container>
		<ng-container matColumnDef="doublon">
			<th mat-header-cell *matHeaderCellDef>
				<lib-icon
					class="click"
					style="font-size: 1.2em"
					[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
					[icone]="FontAwesomeEnum.CHECK_DOUBLE"
					[info]="timbreResumeModel.getPropertyLibelle('doublon')"
				>
				</lib-icon>
			</th>
			<td mat-cell *matCellDef="let element; let i = index"
				[ngClass]="{'accent50': element?.getNombre() == element?.getDoublon()}">
				{{ element?.getDoublon() }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<b>{{ (timbreResumeService.totalTimbreResume$ | async)?.getDoublon() }} </b>
			</td>
		</ng-container>

		<ng-container matColumnDef="nombreCarnet">
			<th mat-header-cell *matHeaderCellDef>
				<lib-libelle-model [object]="timbreResumeModel" [key]="'nombreCarnet'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index"
				[ngClass]="element?.getNombreCarnet() == 0? 'gray25': 'primary25'">
				{{ element?.getNombreCarnet() > 0 ? element?.getNombreCarnet() : '' }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<b>{{ (timbreResumeService.totalTimbreResume$ | async)?.getNombreCarnet() }} </b>
			</td>
		</ng-container>
		<ng-container matColumnDef="nombreTimbresCarnet">
			<th mat-header-cell *matHeaderCellDef>
				<lib-libelle-model [object]="timbreResumeModel" [key]="'nombreTimbresCarnet'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index"
				[ngClass]="element?.getNombreCarnet() == 0? 'gray25': 'primary25'">
				{{ element?.getNombreCarnet() > 0 ? element?.getNombreTimbresCarnet() : '' }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<b>{{ (timbreResumeService.totalTimbreResume$ | async)?.getNombreTimbresCarnet() }} </b>
			</td>
		</ng-container>
		<ng-container matColumnDef="acquisTimbresCarnet">
			<th mat-header-cell *matHeaderCellDef>
				<lib-icon
					class="click"
					style="font-size: 1.2em"
					[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
					[icone]="FontAwesomeEnum.CHECK"
					[info]="timbreResumeModel.getPropertyLibelle('acquisTimbresCarnet')"
				>
				</lib-icon>
			</th>
			<td mat-cell *matCellDef="let element; let i = index"
				[ngClass]="element?.getNombreTimbresCarnet() == 0? 'gray25': element?.getNombreTimbresCarnet() == element?.getAcquisTimbresCarnet()? 'accent50': 'primary25'"
			>
				{{ element?.getNombreCarnet() > 0 ? element?.getAcquisTimbresCarnet() : '' }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<b>{{ (timbreResumeService.totalTimbreResume$ | async)?.getAcquisTimbresCarnet() }} </b>
			</td>
		</ng-container>
		<ng-container matColumnDef="doublonTimbresCarnet">
			<th mat-header-cell *matHeaderCellDef>
				<lib-icon
					class="click"
					style="font-size: 1.2em"
					[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
					[icone]="FontAwesomeEnum.CHECK_DOUBLE"
					[info]="timbreResumeModel.getPropertyLibelle('doublonTimbresCarnet')"
				>
				</lib-icon>
			</th>
			<td mat-cell *matCellDef="let element; let i = index"
				[ngClass]="element?.getNombreTimbresCarnet() == 0? 'gray25': element?.getNombreTimbresCarnet() == element?.getDoublonTimbresCarnet()? 'accent50': 'primary25'"
			>
				{{ element?.getNombreCarnet() > 0 ? element?.getDoublonTimbresCarnet() : '' }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<b>{{ (timbreResumeService.totalTimbreResume$ | async)?.getDoublonTimbresCarnet() }} </b></td>
		</ng-container>

		<ng-container matColumnDef="nombreBloc">
			<th mat-header-cell *matHeaderCellDef>
				<lib-libelle-model [object]="timbreResumeModel" [key]="'nombreBloc'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index"
				[ngClass]="element?.getNombreBloc() == 0? 'gray25': ''">
				{{ element?.getNombreBloc() > 0 ? element?.getNombreBloc() : '' }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<b>{{ (timbreResumeService.totalTimbreResume$ | async)?.getNombreBloc() }} </b></td>
		</ng-container>
		<ng-container matColumnDef="acquisBloc">
			<th mat-header-cell *matHeaderCellDef>
				<lib-icon
					class="click"
					style="font-size: 1.2em"
					[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
					[icone]="FontAwesomeEnum.CHECK"
					[info]="timbreResumeModel.getPropertyLibelle('acquisBloc')"
				>
				</lib-icon>
			</th>
			<td mat-cell *matCellDef="let element; let i = index"
				[ngClass]="element?.getNombreBloc() == 0? 'gray25': element.getNombreBloc() == element?.getAcquisBloc()? 'accent50': ''"
			>
				{{ element?.getNombreBloc() > 0 ? element?.getAcquisBloc() : '' }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<b>{{ (timbreResumeService.totalTimbreResume$ | async)?.getAcquisBloc() }} </b></td>
		</ng-container>
		<ng-container matColumnDef="doublonBloc">
			<th mat-header-cell *matHeaderCellDef>
				<lib-icon
					class="click"
					style="font-size: 1.2em"
					[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
					[icone]="FontAwesomeEnum.CHECK_DOUBLE"
					[info]="timbreResumeModel.getPropertyLibelle('doublonBloc')"
				>
				</lib-icon>
			</th>
			<td mat-cell *matCellDef="let element; let i = index"
				[ngClass]="element?.getNombreBloc() == 0? 'gray25': element.getNombreBloc() == element?.getDoublonBloc()? 'accent50': ''"
			>
				{{ element?.getNombreBloc() > 0 ? element?.getDoublonBloc() : '' }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<b>{{ (timbreResumeService.totalTimbreResume$ | async)?.getDoublonBloc() }} </b></td>
		</ng-container>

		<ng-container matColumnDef="nombreTimbresBloc">
			<th mat-header-cell *matHeaderCellDef>
				<lib-libelle-model [object]="timbreResumeModel" [key]="'nombreTimbresBloc'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index"
				[ngClass]="element?.getNombreTimbresBloc() == 0? 'gray25': 'primary25'">
				{{ element?.getNombreTimbresBloc() > 0 ? element?.getNombreTimbresBloc() : '' }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<b>{{ (timbreResumeService.totalTimbreResume$ | async)?.getNombreTimbresBloc() }} </b></td>
		</ng-container>
		<ng-container matColumnDef="acquisTimbresBloc">
			<th mat-header-cell *matHeaderCellDef>
				<lib-icon
					class="click"
					style="font-size: 1.2em"
					[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
					[icone]="FontAwesomeEnum.CHECK"
					[info]="timbreResumeModel.getPropertyLibelle('acquisTimbresBloc')"
				>
				</lib-icon>
			</th>
			<td mat-cell *matCellDef="let element; let i = index"
				[ngClass]="element?.getNombreTimbresBloc() == 0? 'gray25': element?.getNombreTimbresBloc() == element?.getAcquisTimbresBloc()? 'accent50': 'primary25'"
			>
				{{ element?.getNombreTimbresBloc() > 0 ? element?.getAcquisTimbresBloc() : '' }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<b>{{ (timbreResumeService.totalTimbreResume$ | async)?.getAcquisTimbresBloc() }} </b></td>
		</ng-container>
		<ng-container matColumnDef="doublonTimbresBloc">
			<th mat-header-cell *matHeaderCellDef>
				<lib-icon
					class="click"
					style="font-size: 1.2em"
					[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
					[icone]="FontAwesomeEnum.CHECK_DOUBLE"
					[info]="timbreResumeModel.getPropertyLibelle('doublonTimbresBloc')"
				>
				</lib-icon>
			</th>
			<td mat-cell *matCellDef="let element; let i = index"
				[ngClass]="element?.getNombreTimbresBloc() == 0? 'gray25': element?.getNombreTimbresBloc() == element?.getDoublonTimbresBloc()? 'accent50': 'primary25'"
			>
				{{ element?.getNombreTimbresBloc() > 0 ? element?.getDoublonTimbresBloc() : '' }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<b>{{ (timbreResumeService.totalTimbreResume$ | async)?.getDoublonTimbresBloc() }} </b></td>
		</ng-container>



		<ng-container matColumnDef="nombreCollector">
			<th mat-header-cell *matHeaderCellDef>
				<lib-libelle-model [object]="timbreResumeModel" [key]="'nombreCollector'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index"
				[ngClass]="element?.getNombreCollector() == 0? 'gray25': 'primary25'">
				{{ element?.getNombreCollector() > 0 ? element?.getNombreCollector() : '' }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<b>{{ (timbreResumeService.totalTimbreResume$ | async)?.getNombreCollector() }} </b>
			</td>
		</ng-container>>
		<ng-container matColumnDef="acquisCollector">
			<th mat-header-cell *matHeaderCellDef>
				<lib-icon
					class="click"
					style="font-size: 1.2em"
					[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
					[icone]="FontAwesomeEnum.CHECK"
					[info]="timbreResumeModel.getPropertyLibelle('acquisCollector')"
				>
				</lib-icon>
			</th>
			<td mat-cell *matCellDef="let element; let i = index"
				[ngClass]="element?.getNombreCollector() == 0? 'gray25': element.getNombreCollector() == element?.getAcquisCollector()? 'accent50': ''"
			>
				{{ element?.getNombreCollector() > 0 ? element?.getAcquisCollector() : '' }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<b>{{ (timbreResumeService.totalTimbreResume$ | async)?.getAcquisCollector() }} </b></td>
		</ng-container>
		<ng-container matColumnDef="doublonCollector">
			<th mat-header-cell *matHeaderCellDef>
				<lib-icon
					class="click"
					style="font-size: 1.2em"
					[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
					[icone]="FontAwesomeEnum.CHECK_DOUBLE"
					[info]="timbreResumeModel.getPropertyLibelle('doublonCollector')"
				>
				</lib-icon>
			</th>
			<td mat-cell *matCellDef="let element; let i = index"
				[ngClass]="element?.getNombreCollector() == 0? 'gray25': element.getNombreCollector() == element?.getDoublonCollector()? 'accent50': ''"
			>
				{{ element?.getNombreCollector() > 0 ? element?.getDoublonCollector() : '' }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<b>{{ (timbreResumeService.totalTimbreResume$ | async)?.getDoublonCollector() }} </b></td>
		</ng-container>
		<ng-container matColumnDef="nombreTimbresCollector">
			<th mat-header-cell *matHeaderCellDef>
				<lib-libelle-model [object]="timbreResumeModel" [key]="'nombreTimbresCollector'"></lib-libelle-model>
			</th>
			<td mat-cell *matCellDef="let element; let i = index"
				[ngClass]="element?.getNombreCollector() == 0? 'gray25': 'primary25'">
				{{ element?.getNombreCollector() > 0 ? element?.getNombreTimbresCollector() : '' }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<b>{{ (timbreResumeService.totalTimbreResume$ | async)?.getNombreTimbresCollector() }} </b>
			</td>
		</ng-container>
		<ng-container matColumnDef="acquisTimbresCollector">
			<th mat-header-cell *matHeaderCellDef>
				<lib-icon
					class="click"
					style="font-size: 1.2em"
					[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
					[icone]="FontAwesomeEnum.CHECK"
					[info]="timbreResumeModel.getPropertyLibelle('acquisTimbresCollector')"
				>
				</lib-icon>
			</th>
			<td mat-cell *matCellDef="let element; let i = index"
				[ngClass]="element?.getNombreTimbresCollector() == 0? 'gray25': element?.getNombreTimbresCollector() == element?.getAcquisTimbresCollector()? 'accent50': 'primary25'"
			>
				{{ element?.getNombreCollector() > 0 ? element?.getAcquisTimbresCollector() : '' }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<b>{{ (timbreResumeService.totalTimbreResume$ | async)?.getAcquisTimbresCollector() }} </b>
			</td>
		</ng-container>
		<ng-container matColumnDef="doublonTimbresCollector">
			<th mat-header-cell *matHeaderCellDef>
				<lib-icon
					class="click"
					style="font-size: 1.2em"
					[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
					[icone]="FontAwesomeEnum.CHECK_DOUBLE"
					[info]="timbreResumeModel.getPropertyLibelle('doublonTimbresCollector')"
				>
				</lib-icon>
			</th>
			<td mat-cell *matCellDef="let element; let i = index"
				[ngClass]="element?.getNombreTimbresCollector() == 0? 'gray25': element?.getNombreTimbresCollector() == element?.getDoublonTimbresCollector()? 'accent50': 'primary25'"
			>
				{{ element?.getNombreCollector() > 0 ? element?.getDoublonTimbresCollector() : '' }}
			</td>
			<td mat-footer-cell *matFooterCellDef>
				<b>{{ (timbreResumeService.totalTimbreResume$ | async)?.getDoublonTimbresCollector() }} </b></td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="bg-primary color-white"></tr>
		<tr mat-row *matRowDef="let element; columns: displayedColumns" class="mat-row"
			(click)="filtreParAnnee(element)"></tr>
		<tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" class="bg-primary color-white"></tr>
	</table>
	<!--
	<mat-paginator [pageSize]="15" [pageSizeOptions]="[10, 20, 50, 100]"></mat-paginator>
	-->
</ng-template>
