<div class="table-container mat-elevation-z2">
	<ng-template
		[ngIf]="(timbreResumeService.load$ | async) == false || (timbreResumeService.loadGeneration$ | async) == false">
		<lib-spinner class="spinner" [textSpec]="'Chargement en cours ...'"></lib-spinner>
	</ng-template>

	<section
		[fxHide]="(timbreResumeService.load$ | async) == false || (timbreResumeService.loadGeneration$ | async) == false">
		<table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
			<!-- Année -->
			<ng-container matColumnDef="annee" sticky>
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Année</th>
				<td mat-cell *matCellDef="let row" class="primary100">
					{{ row.getAnnee() }}
				</td>
				<td mat-footer-cell *matFooterCellDef><strong>Total</strong></td>
			</ng-container>

			<!-- Total -->
			<ng-container matColumnDef="total" sticky>
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Total</th>
				<td mat-cell *matCellDef="let row" class="primary50">{{ row.getTotal() }}</td>
				<td mat-footer-cell *matFooterCellDef><strong>{{ getTotalFooter('total') }}</strong></td>
			</ng-container>

			<!-- ===== TIMBRE SIMPLE ===== -->
			<ng-container matColumnDef="nombre">
				<th mat-header-cell *matHeaderCellDef>Nb Timbres</th>
				<td mat-cell *matCellDef="let row">{{ getNombreByType(row, TypeTimbreEnum.TIMBRE) }}</td>
				<td mat-footer-cell *matFooterCellDef>
					<strong>{{ getTotalFooterByType(TypeTimbreEnum.TIMBRE, 'nombre') }}</strong></td>
			</ng-container>

			<ng-container matColumnDef="acquis">
				<th mat-header-cell *matHeaderCellDef>
					<lib-icon
						class="click"
						style="font-size: 1.2em"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
						[icone]="FontAwesomeEnum.CHECK"
						[info]="'Acquis'"
					>
					</lib-icon>
				</th>
				<td mat-cell *matCellDef="let row"
				    [ngClass]="{'accent50': getNombreByType(row, TypeTimbreEnum.TIMBRE) == getAcquisByType(row, TypeTimbreEnum.TIMBRE)?.getNbTimbresAcquis()}">{{ getAcquisByType(row, TypeTimbreEnum.TIMBRE)?.getNbTimbresAcquis() }}
				</td>
				<td mat-footer-cell *matFooterCellDef>
					<strong>{{ getTotalFooterByType(TypeTimbreEnum.TIMBRE, 'nbTimbresAcquis') }}</strong></td>
			</ng-container>

			<ng-container matColumnDef="doublon">
				<th mat-header-cell *matHeaderCellDef>
					<lib-icon
						class="click"
						style="font-size: 1.2em"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
						[icone]="FontAwesomeEnum.CHECK_DOUBLE"
						[info]="'Doublon'"
					>
					</lib-icon>
				</th>
				<td mat-cell
				    *matCellDef="let row"
					[ngClass]="{'accent50': getNombreByType(row, TypeTimbreEnum.TIMBRE) == getAcquisByType(row, TypeTimbreEnum.TIMBRE)?.getNbTimbresDoublon()}">{{ getAcquisByType(row, TypeTimbreEnum.TIMBRE)?.getNbTimbresDoublon() }}
				</td>
				<td mat-footer-cell *matFooterCellDef>
					<strong>{{ getTotalFooterByType(TypeTimbreEnum.TIMBRE, 'nbTimbresDoublon') }}</strong></td>
			</ng-container>

			<!-- ===== CARNET ===== -->
			<ng-container matColumnDef="nombreCarnet">
				<th mat-header-cell *matHeaderCellDef>Nb Carnets</th>
				<td mat-cell *matCellDef="let row"
				    [ngClass]="getNombreByType(row, TypeTimbreEnum.CARNET) == 0? 'gray25': 'primary25'">
					{{ getNombreByType(row, TypeTimbreEnum.CARNET) }}
				</td>
				<td mat-footer-cell *matFooterCellDef>
					<strong>{{ getTotalFooterByType(TypeTimbreEnum.CARNET, 'nombre') }}</strong></td>
			</ng-container>

			<ng-container matColumnDef="nombreTimbresCarnet">
				<th mat-header-cell *matHeaderCellDef>Nb Timbres Carnet</th>
				<td mat-cell *matCellDef="let row"
				    [ngClass]="getNombreTimbreByType(row, TypeTimbreEnum.CARNET) == 0? 'gray25': 'primary25'">
					{{ getNombreTimbreByType(row, TypeTimbreEnum.CARNET) }}
				</td>
				<td mat-footer-cell *matFooterCellDef>
					<strong>{{ getTotalFooterByType(TypeTimbreEnum.CARNET, 'nombreTimbre') }}</strong></td>
			</ng-container>

			<ng-container matColumnDef="acquisTimbresCarnet">
				<th mat-header-cell *matHeaderCellDef>
					<lib-icon
						class="click"
						style="font-size: 1.2em"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
						[icone]="FontAwesomeEnum.CHECK"
						[info]="'Acquis Timbres Carnet'"
					>
					</lib-icon>
				</th>
				<td mat-cell
				    *matCellDef="let row"
				    [ngClass]="getAcquisByType(row, TypeTimbreEnum.CARNET)?.getNbTimbresAcquis()  == 0? 'gray25': getNombreTimbreByType(row, TypeTimbreEnum.CARNET) == getAcquisByType(row, TypeTimbreEnum.CARNET)?.getNbTimbresAcquis() ? 'accent50': 'primary25'">
					{{ getAcquisByType(row, TypeTimbreEnum.CARNET)?.getNbTimbresAcquis() }}
				</td>
				<td mat-footer-cell *matFooterCellDef>
					<strong>{{ getTotalFooterByType(TypeTimbreEnum.CARNET, 'nbTimbresAcquis') }}</strong></td>
			</ng-container>

			<ng-container matColumnDef="doublonTimbresCarnet">
				<th mat-header-cell *matHeaderCellDef>
					<lib-icon
						class="click"
						style="font-size: 1.2em"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
						[icone]="FontAwesomeEnum.CHECK_DOUBLE"
						[info]="'Doublon Timbres Carnet'"
					>
					</lib-icon>
				</th>
				<td mat-cell
				    *matCellDef="let row" 				    [ngClass]="getAcquisByType(row, TypeTimbreEnum.CARNET)?.getNbTimbresDoublon() == 0? 'gray25': getNombreTimbreByType(row, TypeTimbreEnum.CARNET) == getAcquisByType(row, TypeTimbreEnum.CARNET)?.getNbTimbresDoublon() ? 'accent50': 'primary25'">
					{{ getAcquisByType(row, TypeTimbreEnum.CARNET)?.getNbTimbresDoublon() }}
				</td>
				<td mat-footer-cell *matFooterCellDef>
					<strong>{{ getTotalFooterByType(TypeTimbreEnum.CARNET, 'nbTimbresDoublon') }}</strong></td>
			</ng-container>

			<!-- ===== BLOC ===== -->
			<ng-container matColumnDef="nombreBloc">
				<th mat-header-cell *matHeaderCellDef>Nb Blocs</th>
				<td mat-cell *matCellDef="let row"
				    [ngClass]="getNombreByType(row, TypeTimbreEnum.BLOC) == 0? 'gray25': ''">
					{{ getNombreByType(row, TypeTimbreEnum.BLOC) }}
				</td>
				<td mat-footer-cell *matFooterCellDef>
					<strong>{{ getTotalFooterByType(TypeTimbreEnum.BLOC, 'nombre') }}</strong></td>
			</ng-container>

			<ng-container matColumnDef="acquisBloc">
				<th mat-header-cell *matHeaderCellDef>
					<lib-icon
						class="click"
						style="font-size: 1.2em"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
						[icone]="FontAwesomeEnum.CHECK"
						[info]="'Acquis Blocs'"
					>
					</lib-icon>
				</th>
				<td mat-cell *matCellDef="let row"
				    [ngClass]="getAcquisByType(row, TypeTimbreEnum.BLOC)?.getNbAcquis() == 0? 'gray25': getNombreByType(row, TypeTimbreEnum.BLOC) == getAcquisByType(row, TypeTimbreEnum.BLOC)?.getNbAcquis() ? 'accent50': ''">
					{{ getAcquisByType(row, TypeTimbreEnum.BLOC)?.getNbAcquis() }}
				</td>
				<td mat-footer-cell *matFooterCellDef>
					<strong>{{ getTotalFooterByType(TypeTimbreEnum.BLOC, 'nbAcquis') }}</strong></td>
			</ng-container>

			<ng-container matColumnDef="doublonBloc">
				<th mat-header-cell *matHeaderCellDef>
					<lib-icon
						class="click"
						style="font-size: 1.2em"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
						[icone]="FontAwesomeEnum.CHECK_DOUBLE"
						[info]="'Doublon Blocs'"
					>
					</lib-icon>
				</th>
				<td mat-cell *matCellDef="let row"
				    [ngClass]="getAcquisByType(row, TypeTimbreEnum.BLOC)?.getNbDoublon() == 0? 'gray25': getNombreByType(row, TypeTimbreEnum.BLOC) == getAcquisByType(row, TypeTimbreEnum.BLOC)?.getNbDoublon() ? 'accent50': ''">
					{{ getAcquisByType(row, TypeTimbreEnum.BLOC)?.getNbDoublon() }}
				</td>
				<td mat-footer-cell *matFooterCellDef>
					<strong>{{ getTotalFooterByType(TypeTimbreEnum.BLOC, 'nbDoublon') }}</strong></td>
			</ng-container>

			<ng-container matColumnDef="nombreTimbresBloc">
				<th mat-header-cell *matHeaderCellDef>Nb Timbres Bloc</th>
				<td mat-cell *matCellDef="let row"
				    [ngClass]="getNombreTimbreByType(row, TypeTimbreEnum.BLOC) == 0? 'gray25': ''">
					{{ getNombreTimbreByType(row, TypeTimbreEnum.BLOC) }}</td>
				<td mat-footer-cell *matFooterCellDef>
					<strong>{{ getTotalFooterByType(TypeTimbreEnum.BLOC, 'nombreTimbre') }}</strong></td>
			</ng-container>

			<ng-container matColumnDef="acquisTimbresBloc">
				<th mat-header-cell *matHeaderCellDef>
					<lib-icon
						class="click"
						style="font-size: 1.2em"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
						[icone]="FontAwesomeEnum.CHECK"
						[info]="'Acquis Timbres Blocs'"
					>
					</lib-icon>
				</th>
				<td mat-cell *matCellDef="let row"
				    [ngClass]="getAcquisByType(row, TypeTimbreEnum.BLOC)?.getNbTimbresAcquis() == 0? 'gray25': getNombreTimbreByType(row, TypeTimbreEnum.BLOC) == getAcquisByType(row, TypeTimbreEnum.BLOC)?.getNbTimbresAcquis() ? 'accent50': ''">
					{{ getAcquisByType(row, TypeTimbreEnum.BLOC)?.getNbTimbresAcquis() }}
				</td>
				<td mat-footer-cell *matFooterCellDef>
					<strong>{{ getTotalFooterByType(TypeTimbreEnum.BLOC, 'nbTimbresAcquis') }}</strong></td>
			</ng-container>

			<ng-container matColumnDef="doublonTimbresBloc">
				<th mat-header-cell *matHeaderCellDef>
					<lib-icon
						class="click"
						style="font-size: 1.2em"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
						[icone]="FontAwesomeEnum.CHECK_DOUBLE"
						[info]="'Doublon Timbres Blocs'"
					>
					</lib-icon>
				</th>
				<td mat-cell *matCellDef="let row"
				    [ngClass]="getAcquisByType(row, TypeTimbreEnum.BLOC)?.getNbTimbresDoublon() == 0? 'gray25': getNombreTimbreByType(row, TypeTimbreEnum.BLOC) == getAcquisByType(row, TypeTimbreEnum.BLOC)?.getNbTimbresDoublon() ? 'accent50': ''">
					{{ getAcquisByType(row, TypeTimbreEnum.BLOC)?.getNbTimbresDoublon() }}
				</td>
				<td mat-footer-cell *matFooterCellDef>
					<strong>{{ getTotalFooterByType(TypeTimbreEnum.BLOC, 'nbTimbresDoublon') }}</strong></td>
			</ng-container>

			<!-- ===== COLLECTOR ===== -->
			<ng-container matColumnDef="nombreCollector">
				<th mat-header-cell *matHeaderCellDef>Nb Collector</th>
				<td mat-cell *matCellDef="let row"
				    [ngClass]="getNombreByType(row, TypeTimbreEnum.COLLECTOR) == 0? 'gray25': 'primary25'">
					{{ getNombreByType(row, TypeTimbreEnum.COLLECTOR) }}
				</td>
				<td mat-footer-cell *matFooterCellDef>
					<strong>{{ getTotalFooterByType(TypeTimbreEnum.COLLECTOR, 'nombre') }}</strong></td>
			</ng-container>

			<ng-container matColumnDef="acquisCollector">
				<th mat-header-cell *matHeaderCellDef>
					<lib-icon
						class="click"
						style="font-size: 1.2em"
						[type]="FontAwesomeTypeEnum.TYPE_LIGHT"
						[icone]="FontAwesomeEnum.CHECK"
						[info]="'Acquis Collector'"
					>
					</lib-icon>
				</th>
				<td mat-cell *matCellDef="let row"
				    [ngClass]="getAcquisByType(row, TypeTimbreEnum.COLLECTOR)?.getNbAcquis() == 0? 'gray25': getNombreByType(row, TypeTimbreEnum.COLLECTOR) == getAcquisByType(row, TypeTimbreEnum.COLLECTOR)?.getNbAcquis() ? 'accent50': ''">
					{{ getAcquisByType(row, TypeTimbreEnum.COLLECTOR)?.getNbAcquis() }}
				</td>
				<td mat-footer-cell *matFooterCellDef>
					<strong>{{ getTotalFooterByType(TypeTimbreEnum.COLLECTOR, 'nbAcquis') }}</strong></td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="primary100"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="filtreParAnnee(row)" class="click"></tr>
			<tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" class="primary100"></tr>

			<tr class="mat-row" *matNoDataRow>
				<td class="mat-cell" [attr.colspan]="displayedColumns.length">Aucune donnée disponible</td>
			</tr>
		</table>

		<!--
		<mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
		-->
	</section>
</div>
