th, tr, td {
	text-align: center;
}

@mixin changeSize($height, $width) {
	th {
		width: $width * 1px !important;
		max-width: $width * 1px !important;
	}
	.mat-row {
		padding: 0px !important;
		height: $height * 1px;
		.mat-mdc-cell {
			width: $width * 1px !important;
			/*max-width: $width * 1px !important;*/
		}
	}
}

@mixin changeSizeMobile($fontSize) {
	th, .mat-row {
		font-size: $fontSize * 1em;
	}
}

@include changeSize(30, 40);

@media screen and (max-width: 800px) {
	@include changeSize(15, 25);
	@include changeSizeMobile(0.8);
}
