<div class="dialog-modal" fxFlexFill fxLayout="column" fxLayoutAlign="space-between stretch">
	<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center" class="titre-modal bg-primary color-white">
		<span>{{timbrePaysModel?.getId()? 'MODIFICATION' : 'AJOUT'}} </span>
		<span>{{ timbrePaysModel?.getLibelle() }}</span>
	</div>

	<ng-template [ngIf]="(load$ | async) == false" [ngIfElse]="load">
		<z-spinner fxFlexFill [textSpec]="'Chargement en cours ...'"></z-spinner>
	</ng-template>
	<ng-template #load>
		<form
			#formModif="ngForm"
			ngForm="formModif"
			(ngSubmit)="valider(formModif)"
			class="formulaire-box-elevation"
			[ngClass]="formModif?.submitted  ?'red-color' : 'blue-color'"
			fxLayoutGap="20px"
			fxFlex="100"
			fxLayout="column"
			fxLayoutAlign="space-between stretch"
		>
			<div fxLayout="column" class="bloc-modal" fxLayoutGap="20px">
				<mat-error *ngIf="messageError$ | async" [innerHTML]="messageError$ | async"></mat-error>
				<div fxLayout="column" class="form-input">
					<label>
						<z-libelle-model [object]="timbrePaysModel" [key]="'code'"></z-libelle-model>
					</label>
					<input
						name="code"
						[(ngModel)]="timbrePaysModel.code"
						type="text"
						trim
						upperCase
						noEspace
						required
						zControl
					/>
				</div>

				<div fxLayout="column" class="form-input">
					<label>
						<z-libelle-model [object]="timbrePaysModel" [key]="'libelle'"></z-libelle-model>
					</label>
					<input
						name="libelle"
						[(ngModel)]="timbrePaysModel.libelle"
						type="text"
						trim
						required
						zControl
					/>
				</div>

				<div fxLayout="column" class="form-input">
					<label>
						<z-libelle-model [object]="timbrePaysModel" [key]="'libelleLangue'"></z-libelle-model>
					</label>
					<input
						name="libelleLangue"
						[(ngModel)]="timbrePaysModel.libelleLangue"
						type="text"
						trim
						zControl
					/>
				</div>
				<lib-upload [object]="timbrePaysModel" [key]="'imageLangue'" [keyZoom]="'imageLangueZoom'"  [dossier]="'langue'" [code]="timbrePaysModel?.getCode()" [maxWidth]="780" [maxHeight]="200" (outPutObject)="timbrePaysModel = $event"></lib-upload>


				<div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between center">
					<div fxLayout="column" class="form-input">
						<label>
							<z-libelle-model [object]="timbrePaysModel" [key]="'classeur'"></z-libelle-model>
						</label>
						<input
							name="classeur"
							[(ngModel)]="timbrePaysModel.classeur"
							type="number"
							class="numberOnly"
							minlength="1"
							maxlength="2"
							min="1"
							zMin="1"
							[max]="maxClasseur"
							[zMax]="maxClasseur"
							required
							zControl
						/>
					</div>

					<div fxLayout="column" class="form-input">
						<label>
							<z-libelle-model [object]="timbrePaysModel" [key]="'page'"></z-libelle-model>
						</label>
						<input
							name="page"
							[(ngModel)]="timbrePaysModel.page"
							type="number"
							class="numberOnly"
							minlength="1"
							maxlength="2"
							min="1"
							zMin="1"
							[max]="maxPage"
							[zMax]="maxPage"
							required
							zControl
						/>
					</div>
					<div fxLayout="column" class="form-input">
						<label>
							<z-libelle-model [object]="timbrePaysModel" [key]="'total'"></z-libelle-model>
						</label>
						<input
							name="total"
							[(ngModel)]="timbrePaysModel.total"
							type="number"
							class="numberOnly"
							minlength="1"
							maxlength="5"
							min="0"
							zMin="0"
							required
							zControl
						/>
					</div>
				</div>

				<div fxLayout="row" fxLayoutGap="25px" fxLayoutAlign="space-evenly center">
					<lib-upload [object]="timbrePaysModel" [key]="'drapeau'" [keyZoom]="'drapeauZoom'" [dossier]="'drapeau'" [code]="timbrePaysModel?.getCode()" [maxWidth]="620" [maxHeight]="430"  [alignLabel]="'space-evenly center'" (outPutObject)="timbrePaysModel = $event"></lib-upload>
					<lib-upload [object]="timbrePaysModel" [key]="'map'" [keyZoom]="'mapZoom'"  [dossier]="'map'" [code]="timbrePaysModel?.getCode()" [maxWidth]="220" [maxHeight]="220"  [alignLabel]="'space-evenly center'"(outPutObject)="timbrePaysModel = $event"></lib-upload>
				</div>
			</div>

			<div class="bloc-bouton-modal" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end end">
				<button
					type="button" class="rounded large color-white" mat-raised-button color="primary" (click)="close()">
					Annuler
				</button>
				<button
					type="submit" class="rounded large color-white" mat-raised-button color="accent">
					Enregistrer
				</button>
			</div>
		</form>
	</ng-template>
</div>
