<div class="dialog-modal" fxFlexFill fxLayout="column" fxLayoutAlign="space-between stretch">
	<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center" class="titre-modal bg-primary color-white">
		<span>Ajout de timbres pour le pays </span>
		<span class="bold">{{ timbrePaysModel?.getLibelle() }}</span>
	</div>

	<ng-template [ngIf]="(load$ | async) == false" [ngIfElse]="load">
		<z-spinner fxFlexFill [textSpec]="'Chargement en cours ...'"></z-spinner>
	</ng-template>
	<ng-template #load>
		<form
			#formAjout="ngForm"
			ngForm="formAjout"
			(ngSubmit)="valider(formAjout)"
			class="formulaire-box-elevation"
			[ngClass]="formAjout?.submitted  ?'red-color' : 'blue-color'"
			fxLayoutGap="20px"
			fxFlex="100"
			fxLayout="column"
			fxLayoutAlign="space-between stretch"
		>
			<div fxLayout="column" class="bloc-modal" fxLayoutGap="20px">
				<div fxLayout="column" class="form-input">
					<label>
						Nombre de timbres
					</label>
					<input
						name="nbTimbres"
						[ngModel]="nbTimbres"
						(ngModelChange)="changeTotal($event)"
						type="number"
						class="numberOnly"
						minlength="1"
						maxlength="4"
						required
						zControl
					/>
				</div>

				<div fxLayout="column" class="form-input">
					<label>
						<z-libelle-model [object]="timbrePaysModel" [key]="'total'"></z-libelle-model>
					</label>
					<input
						name="total"
						[(ngModel)]="this.total"
						type="number"
						class="numberOnly"
						minlength="1"
						maxlength="4"
						[disabled]="nbTimbres != 0"
						required
						zControl
					/>
					<!--
					<span class="bold">{{  +this.nbTimbres + +this.timbrePaysModel.getTotal() }}</span>
					-->
				</div>
			</div>

			<div class="bloc-bouton-modal" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end end">
				<button
					type="button" class="rounded large color-white" mat-raised-button color="primary" (click)="close()">
					Annuler
				</button>
				<button
					type="submit" class="rounded large color-white" mat-raised-button color="accent">
					Enregistrer
				</button>
			</div>
		</form>
	</ng-template>
</div>
