<div class="timbreLayout">
	<div class="timbreBody">
		<app-menu></app-menu>

		<app-timbre-resultat
			*ngIf="headerService.mode == ModeEnum.GRAPH"
			[load$]="timbreService.load$"
			[timbres$]="timbreService.timbres$"
			[total$]="timbreService.total$"
		></app-timbre-resultat>

		<app-timbre-resultat-table
			*ngIf="headerService.mode == ModeEnum.TABLE"
			[load$]="timbreService.load$"
			[timbres$]="timbreService.timbres$"
			[total$]="timbreService.total$"
		></app-timbre-resultat-table>
	</div>
</div>
