$widthMaxContainer: 960;
$marginContainer: 30;

.mainContainerGlob {
	width: 100% !important;
	max-width: ($widthMaxContainer - 2 * $marginContainer) * 1px !important;
	margin: auto;
	padding-left: $marginContainer * 1px;
	padding-bottom: 1%;
	padding-right: $marginContainer * 1px;
}
.mainContainerGlobMargin {
	@extend .mainContainerGlob;
	padding-top: 1%;
}

.headerContainer {
	width: 100%;
	max-width: ($widthMaxContainer - 2*$marginContainer) *1px !important;
	margin: auto;
	padding-left: $marginContainer * 1px + 10px;
	padding-right: $marginContainer * 1px + 10px;
}

.menuContainer {
	margin-top: 40px;
	background-color: transparent;
	height: 52em;
	width: 20em;
	padding-right: 0;

}
