<div class="dialog-modal" fxFlexFill fxLayout="column" fxLayoutAlign="space-between stretch">
	<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center" class="titre-modal bg-primary color-white">
		<span>TIMBRE IMPORTER</span>
	</div>

	<ng-template [ngIf]="(timbreSupprimService.loadGlob$ | async) == false" [ngIfElse]="load">
		<lib-spinner fxFlexFill [textSpec]="'Suppression en cours'"></lib-spinner>
	</ng-template>
	<ng-template #load>
		<form
			#formModif="ngForm"
			ngForm="formModif"
			(ngSubmit)="valider(formModif)"
			class="formulaire-box-elevation"
			[ngClass]="formModif?.submitted  ?'red-color' : 'blue-color'"
			fxLayoutGap="20px"
			fxFlex="100"
			fxLayout="column"
			fxLayoutAlign="start stretch"
		>
			<div class="bloc-bouton-modal" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end end">
				<div fxLayout="column" fxFlex="20"
					 fxLayoutAlign="end end" class="form-input noError">
					<input
						name="annee"
						[(ngModel)]="annee"
						type="number"
						style="width: 60px !important;"
						minlength="4"
						maxlength="4"
						min="1900"
						zMin="1900"
						[max]="maxAnnee"
						[zMax]="maxAnnee"
						required
						zControl
					/>
				</div>

				<button
					type="button" class="rounded large color-white" mat-raised-button color="primary" (click)="close()">
					Annuler
				</button>
				<button
					type="submit" class="rounded large color-white" mat-raised-button color="accent">
					Supprimer
				</button>
			</div>
		</form>
	</ng-template>
</div>
