.menuRecherche {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	//right: 10px;
	width: 100%;

	& > .form-input {
		margin: 0px 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;
	}
}

@media screen and (max-width: 800px) {
	.menuRecherche {
		& > .form-input {
			margin: 5px 10px;
		}
	}
}
