<div class="dialog-modal" fxFlexFill fxLayout="column" fxLayoutAlign="space-between stretch">
	<div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center" class="titre-modal bg-primary color-white">
		<span>TIMBRE IMPORTER</span>
	</div>

	<ng-template [ngIf]="(load$ | async) == false" [ngIfElse]="load">
		<lib-spinner fxFlexFill [textSpec]="messageLoad$ | async"></lib-spinner>
	</ng-template>
	<ng-template #load>
		<form
			#formModif="ngForm"
			ngForm="formModif"
			(ngSubmit)="valider(formModif)"
			class="formulaire-box-elevation"
			[ngClass]="formModif?.submitted  ?'red-color' : 'blue-color'"
			fxLayoutGap="20px"
			fxFlex="100"
			fxLayout="column"
			fxLayoutAlign="start stretch"
		>
			<div fxLayout="column" class="bloc-modal" fxLayoutGap="20px">
				<mat-error *ngIf="messageError$ | async" [innerHTML]="messageError$ | async"></mat-error>
				<app-timbre-resultat
					*ngIf="(timbres$ |async)?.length > 0"
					[timbres$]="timbres$"
					[modif]="false"
				>
				</app-timbre-resultat>
			</div>

			<div class="bloc-bouton-modal" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end end">
				<button
					type="button" class="rounded large color-white" mat-raised-button color="primary" (click)="close()">
					Annuler
				</button>
				<input id="{{idFile}}" type="file" (change)="onFileChange($event)" accept=".xls, .xlsx, .csv" hidden
					   required/>
				<button type="button" class="rounded large color-white" mat-raised-button color="accent" (click)="triggerFileInput()">
					Choisir un fichier
				</button>
				<button
					*ngIf="(timbres$ |async) ?.length > 0"
					type="submit" class="rounded large color-white" mat-raised-button color="accent">
					Enregistrer
				</button>
			</div>
		</form>
	</ng-template>
</div>
