<div class="timbreTotal">
	<div *ngIf="(timbreVarService.totalTimbres$ | async)" class="nbTimbre">
		<span>Nombre de timbres : </span>
		<span class="bold">{{ (timbreVarService.totalTimbresByCritere$ | async) }} / {{ (timbreVarService.totalTimbres$ | async) }}</span>
	</div>

	<lib-icon [icone]="FontAwesomeEnum.CHART_LINE_UP"
	          [type]="FontAwesomeTypeEnum.TYPE_SOLID"
	          class="accent click"
	          [info]="'Détail par année'"
	          (click)="resume()">
	</lib-icon>
</div>
